In [7]:
import pandas as pd
from Detectez_des_faux_billets import *

In [8]:
test = pd.read_csv('example.csv')
billets(test)

Le nombre de True est de :  2
Le nombre de False est de :  3

    id         Proba  is_genuine
0  A_1  6.776884e-07       False
1  A_2  1.047737e-12       False
2  A_3  1.489232e-06       False
3  A_4  9.991583e-01        True
4  A_5  9.999992e-01        True

In [9]:
test

   diagonal  height_left  height_right  margin_low  margin_up  length   id
0    171.76       104.01        103.54        5.21       3.30  111.42  A_1
1    171.87       104.17        104.13        6.00       3.31  112.09  A_2
2    172.00       104.58        104.29        4.99       3.39  111.57  A_3
3    172.49       104.55        104.34        4.44       3.03  113.20  A_4
4    171.65       103.63        103.56        3.77       3.16  113.33  A_5