In [14]:
import pandas as pd
from Detectez_des_faux_billets import *

In [15]:
test = pd.read_csv('example.csv')
billets(test)

Le nombre de True est de :  2
Le nombre de False est de :  3

    id         Proba  is_genuine
0  A_1  6.776884e-07       False
1  A_2  1.047737e-12       False
2  A_3  1.489232e-06       False
3  A_4  9.991583e-01        True
4  A_5  9.999992e-01        True